.store-qualifications {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin:5vw 0;
  div {
    width: 22vw;
    margin-right:3vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    &:nth-child(4){
      margin-right:0;
    }
    span {
      &:nth-child(1){
        /*icon*/
        padding:0.8vw 1.0vw 0.6vw;
        background: #f1eeff;
        border-radius:0.7vw;
        ._icon {
          font-size:1.7vw;
          color:#6c5dd4;
        }
      }
      &:nth-child(2){
        margin-left:1vw;
        h2{
          margin-top:-.6vw;
          margin-bottom:0.2vw;
          font-size:1.2vw;
          font-family: "Titillium-Bold";
        }
        p {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size:0.97vw;
          font-family: "Titillium-Regular";
          color:#acacac;
        }
      }
    }
  }
}
