.book {
  overflow: hidden;
  .book-image{
    position: relative;
    height: 20vw;
    border-radius:1vw;
    overflow: hidden;
    .addToCart {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index:1;
      opacity:0;
      transition: 0.3s;
      top:0;
      button{
        padding:1vw 2vw;
        background:#6c5dd4;
        border:none;
        border-radius:0.5vw;
        color:#fff;
        font-family: "Titillium-Bold";
        cursor:pointer;
        .cart{
          margin-top:0.3vw;
          margin-bottom:-0.1vw;
          margin-right:0.4vw;
        }
      }
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  .book-info {
    width: 80%;
    margin: auto;
    h2 {
      text-align: center;
      margin:1vw 0 0.2vw;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size:1.2vw;
      font-family: "Titillium-Bold";
      text-transform: uppercase;
    }
    h3 {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom:1vw;
      text-align: center;
      font-size:0.97vw;
      font-family: "Titillium-Regular";
      color: #6c5dd2;
      font-weight:lighter;
    }
  }
  .book-price{
    display: flex;
    justify-content: center;
    span {
      font-size:1.8vw;
      font-family: "Titillium-Bold";
      color: #6c5dd2;
    }
  }
  &:hover {
    .addToCart{
      opacity: 1;
    }
  }
}
