.book {
  overflow: hidden;
  transition:0.3s;
  max-height: 30vw;
  .book-image{
    position: relative;
    height: 20vw;
    border-radius:1vw;
    overflow: hidden;
    transition:0.3s;
    img {
      width: 100%;
      height: auto;
      min-height:100%;
    }
  }
  .book-info {
    width: 80%;
    margin: auto;
    h2 {
      text-align: center;
      margin:1vw 0 0.2vw;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size:1.2vw;
      font-family: "Titillium-Bold";
      text-transform: uppercase;
    }
    h3 {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom:1vw;
      text-align: center;
      font-size:0.97vw;
      font-family: "Titillium-Regular";
      color: #6c5dd2;
      font-weight:lighter;
    }
  }
  .book-price{
    display: flex;
    justify-content: center;
    span {
      font-size:1.8vw;
      font-family: "Titillium-Bold";
      color: #6c5dd2;
    }
  }
  &:hover {
    .book-image {
      height: 15vw;
      img {
        height: auto;
      }
    }
    .addToCart{
      position: relative;
      height: auto;
      opacity: 1;
    }
  }
  .addToCart {
    position: relative;
    padding:2vw 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity:1;
    transition: 0.3s;
    box-shadow: 0 3px 6px #f1f1f1;
    background: #fff;
    button{
      background:#6c5dd4;
      border:none;
      border-radius:0.5vw;
      color:#fff;
      font-family: "Titillium-Bold";
      cursor:pointer;
      &:nth-child(1){
        span {
          display: block;
          padding:1vw 2vw;
        }
      }
      &:nth-child(2){
        box-shadow: 0 3px 6px #e9e9e9;
        background-color: transparent;
        margin-right:2px;
        span {
          display: block;
          padding:1vw 1vw;
          .f-co{
            color: #010101;
          }
        }
      }
      .cart{
        margin-top:0.3vw;
        margin-bottom:-0.1vw;
        margin-right:0.4vw;
      }
    }
  }
}
