.offers-heading {
  h2 {
    margin-top:0.5vw;
    text-align: center;
    font-size:2.8vw;
    font-family: "Titillium-Bold";
    color: #10142d;
  }
  p {
    text-align: center;
    font-size:1.2vw;
    font-family: "Titillium-Regular";
  }
}

.offers-content {
  display: flex;
  margin:0 0 3vw;
}
